<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1>QR Code Generator</h1>

    <br>
    <hr>
    <br>

    <form id="qr-form"action="/" method="post" class="">
      <label for="">URL for your QR code to pull up: </label>
      <input id="qr-url" type="text" name="qr_url">
      <br>
      <label for="">A name for your QR code: </label>
      <input id="qr-name" type="text" name="qr_name">
      <br>
      <br>

      <button type="submit">Generate!</button> 
    </form>

  </div>

  <script src="js/qr-interface.js"></script>
  <script src="node_modules/jquery/dist/jquery.js"></script>

</body>
